---
import { SITE_NAME, BRANDS } from '../constants';
---

<div class='bg-white py-24 sm:py-32'>
  <div class='mx-auto max-w-7xl px-6 lg:px-8'>
    <div class='grid grid-cols-1 items-center gap-x-8 gap-y-16 lg:grid-cols-2'>
      <div class='mx-auto w-full max-w-xl lg:mx-0'>
        <h2 class='text-3xl font-bold tracking-tight text-black'>
          Brands We Carry
        </h2>
        <p class='mt-6 text-lg leading-8 text-gray-800'>
          At {SITE_NAME}, we proudly offer a curated selection of top-tier
          mattress brands, including Beautyrest, Serta, Bed Gear,
          Puffy, and more. Experience the perfect combination of comfort and
          quality with trusted names designed to provide the best sleep and
          support for every budget.
        </p>
        <div class='mt-8 flex items-center gap-x-6'>
          <a
            href='/shop'
            class='rounded-md bg-copaBlue-700 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-copaBlue-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-copaBlue-700'
            >Shop All Brands</a
          >
          <a href='/contact' class='text-sm font-semibold text-black'
            >Contact us <span aria-hidden='true'>&rarr;</span></a
          >
        </div>
      </div>
      <div
        class='mx-auto grid w-full max-w-xl grid-cols-2 gap-8 sm:gap-10 lg:mx-0 lg:max-w-none lg:pl-8'
      >
        {
          BRANDS.map((brand) => (
            <div class='flex items-center justify-center h-24 w-full'>
              <img
                class='w-[120px] h-[64px] min-w-[80px] min-h-[96px] max-w-[180px] max-h-16 object-contain'
                alt={`${brand.name} Logo`}
                src={`/brand-logos/${brand.logo}`}
              />
            </div>
          ))
        }
      </div>
    </div>
  </div>
</div>
